<header id="layout-header">
        <nav>
            <div class="mini-logo">
                <p>
                    <a href='/'>
                       Soldiers
                    </a>
                </p>
                 
                

            </div>


        <div class="auth-links mini-logo">
                <p id='terr'>  <a href='/'>
                    Terrorist
                </a>
                
            </p>
            <div id="divCounter"></div>
    
        
        </nav>
    </header>
   
    <script src='/js/timer.js'> </script>
