#layout-footer{
    color: white;
    height: 40px;
    width: 100%;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}